.nav-wrapper {
  padding: 25px 0 20px 0;
  min-width: 200px;
  flex-basis: 20%;
  position: fixed;
  z-index: 99;
  height: 100vh;
  background: #1d223d;
}

/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 75px;
  padding: 0 25px;
}
.logo .logo-title {
  margin-left: 10px;
  font-size: 24px;
  font-family: "Harabara";
  color: rgb(135, 143, 188);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.logo .logo-title h4 {
  margin: 0;
}
/* side menu  */
.side-menu-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.side-menu-nav ul li a {
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  position: relative;
}
.side-menu-nav ul li a:hover {
  background-color: rgb(44, 50, 84);
  color: #558BED;
}

.side-menu-nav ul li a:hover::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: -50px;
  height: 50px;
  right: 0;
  width: 25px;
  border-radius: 0 25px 0 0;
  box-shadow: 0 -25px 0 0 #2c3254;
}
.side-menu-nav ul li a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 64px;
  height: 50px;
  right: 0;
  width: 25px;
  border-radius: 0 0 25px 0;
  box-shadow: 0 25px 0 0 #2c3254;
}

.side-menu-nav ul li div.nav-item {
  display: flex;
  align-items: center;
}
.side-menu-nav ul li div.nav-item .menu-icon-wrap {
  margin-right: 24px;
}
.side-menu-nav ul li div.nav-item .menu-title {
  font-size: 16px;
  color: rgb(135, 143, 188);
  line-height: 1.2;
}
.side-menu-nav ul li a:hover div.nav-item .menu-title{
  color: #558BED;
}
