.nav-wrapper {
  padding: 25px 0 20px 0;
  min-width: 200px;
  flex-basis: 20%;
  position: fixed;
  z-index: 99;
  height: 100vh;
  background: #1d223d;
}
#hamburger{
  display: none;
}
#hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  margin: 0 20px 4px 0;
  position: relative;
  background: rgba(93, 143, 235, 0.904);
  border-radius: 5px;
  z-index: 1;
}


/* Logo */
.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 75px;
  padding: 0 25px;
}
.logo .logo-title {
  margin-left: 10px;
  font-size: 24px;
  font-family: "Harabara";
  color: rgb(135, 143, 188);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.logo .logo-title h4 {
  margin: 0;
}
/* side menu  */
.side-menu-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.side-menu-nav ul li a {
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  position: relative;
}
.side-menu-nav ul li a:hover,
.side-menu-nav ul li a.active {
  background-color: rgb(44, 50, 84);
  color: #558bed;
}

.side-menu-nav ul li a:hover::before,
.side-menu-nav ul li a.active::before {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  right: 0;
  width: 25px;
  border-radius: 0 25px 0 0;
  box-shadow: 0 -25px 0 0 #2c3254;
}
.side-menu-nav ul li a:hover::after,
.side-menu-nav ul li a.active::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 64px;
  height: 50px;
  right: 0;
  width: 25px;
  border-radius: 0 0 25px 0;
  box-shadow: 0 25px 0 0 #2c3254;
}

.side-menu-nav ul li div.nav-item {
  display: flex;
  align-items: center;
}
.side-menu-nav ul li div.nav-item .menu-icon-wrap {
  margin-right: 24px;
}
.side-menu-nav ul li div.nav-item .menu-title {
  font-size: 16px;
  color: rgb(135, 143, 188);
  line-height: 1.2;
}
.side-menu-nav ul li a:hover div.nav-item .menu-title {
  color: #558bed;
}

/* responsiveness */

@media screen and (max-width: 1250px) {
  .nav-wrapper {
    padding: 25px 0 20px 0;
    min-width: 100px;
    flex-basis: 16%;
    position: fixed;
    z-index: 99;
    height: 100vh;
    background: #1d223d;
  }
  .logo {
    padding: 0 10px;
  }
  .side-menu-nav ul li a {
    padding: 20px 15px;
  }
}

@media screen and (max-width: 1070px) {
  .nav-wrapper {
    max-height: 65px;
    width: 100%;
    top: 0;
    background: #1d223d;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Logo */
  .logo {
    margin-bottom: 0;
  }
  /* side menu  */
  .side-menu-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .side-menu-nav ul li {
    display: inline-block;
  }
  .side-menu-nav ul li a {
    padding: 20px 15px;
  }
  .side-menu-nav ul li a.active {
    background-color: transparent;
    border-bottom: 1px solid #558bed;
  }
  .side-menu-nav ul li a:hover::before,
  .side-menu-nav ul li a.active::before {
    border-radius: 0;
    box-shadow: none;
  }
  .side-menu-nav ul li a:hover::after,
  .side-menu-nav ul li a.active::after {
    border-radius: 0;
    box-shadow: none;
  }
  .side-menu-nav ul li div.nav-item .menu-icon-wrap {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .side-menu-nav ul {
    display: none;
  }
  #hamburger{
    display: block;
  }
}
