.customtab-wrapper #title{
  padding: 18px 0 0 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #ffffff !important;
  border: none;
  border-bottom: 4px solid #558bed !important;
  background: transparent !important;
  font-size: 16px;
}
.nav-tabs .nav-link:hover {
  border: none;
  color: #ffffff;
}
.nav-tabs{
  padding: 20px 20px 0 !important;
}

.nav-tabs .nav-link {
  margin-bottom: 0 !important;
  background: 0 0 !important;
  border: 1px solid transparent !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.nav-link {
  color: #b3b3b3 !important;
  padding: 0 !important;
  margin-right: 30px !important;
  margin-bottom: 6px !important;
}

.custom-tabs {
  position: "relative" !important;
}
.list--wrap{
  padding: 0 15px 15px 15px;
}
.tab-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
  font-size: 14px;
  color: #ffffff;
}
.tab-list .coinIcon {
  display: flex;
  align-items: center;
}
.tab-list .coinIcon .img-wrap {
  width: 29px;
  height: 29px;
  display: block;
  margin-right: 10px;
}
.tab-list .coinIcon .img-wrap img {
  width: 100%;
  height: 100%;
}
.incline {
  color: #00D136;
}
.decline {
  color: #FA6B82;
}
