.card-view {
  border-width: 2px;
  border-color: rgb(135, 143, 188);
  border-style: solid;
  border-radius: 25px;
  background-color: rgb(52, 60, 99);
  box-shadow: 0px 7px 16px 0px rgba(29, 34, 61, 0.45);
	padding: 20px 15px 15px 15px;
	margin-bottom: 30px;
}