.main-content-wrapper {
  background-color: #2c3254;
  padding: 15px 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 100vh;
  margin-left: 200px;
}


.nav-link{
	margin-right: 15px !important;
}

@media screen and (max-width: 1250px) {
  .main-content-wrapper {
    margin-left: 146px !important;
  }
}

@media screen and (max-width: 1070px) {
  .main-content-wrapper {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .main-content-wrapper {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 500px) {
  .nav-link{
		margin-right: 15px !important;
	}
}

