.main-content-wrapper {
  background-color: #2c3254;
  padding: 15px 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 100vh;
  margin-left: 200px;
}

@media screen and (max-width: 1024px) {
  .main-content-wrapper {
    margin-left: 20px !important;
  }
}
