@font-face {
	font-family: "Cyrl";
	src: local("Cyrl"),
	url("./assets/fonts/Cyrl.ttf") format("truetype");
	font-weight: normal;
}

body {
  margin: 0;
	box-sizing: border-box;
  font-family: 'Cyrl';
}
