@font-face {
	font-family: "Cyrl";
	src: local("Cyrl"),
	url("./assets/fonts/Cyrl.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Harabara";
	src: local("Harabara"),
	url("./assets/fonts/harabara-mais-bold.otf") format("opentype");
	font-weight: bold;
}

body {
  margin: 0;
	box-sizing: border-box;
  font-family: 'Cyrl';
	background-color: #1d223d;
	margin: 23px 23px 0 0;
}

